* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f5;
  color: #333;
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: #1b5e20;
  padding: 15px 25px;
  color: white;
}

/* LOGO KIRI */
header-left {
  justify-self: start;
}

logo {
  width: 55px;
  height: auto;
}

/* JUDUL TENGAH */
site-title {
  justify-self: center;
  margin: 0;
  font-size: 22px;
  text-align: center;
}

/* MENU KANAN */
.nav {
  justify-self: end;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

nav a:hover {
  text-decoration: underline;
}


/* HERO */
hero {
  background-color: #e8f5e9;
  padding: 50px 20px;
  text-align: center;
}

/* SECTION */
section {
  background-color: white;
  margin: 15px;
  padding: 25px;
  border-radius: 8px;
}

/* JADWAL */
#jadwal ul {
  list-style: none;
  padding: 0;
}

#jadwal li {
  padding: 5px 0;
}

/* FOOTER */
footer {
  background-color: #1b5e20;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    margin-left: 0;
    margin-right: 15px;
  }
}






